<!DOCTYPE html>
<html>
<head>
    <title>Book Appointment</title>
</head>
<body>
    <h1>Book an Appointment</h1>
    <form action="/appointments" method="post">
        Doctor ID: <input type="text" name="doctor_id"><br>
        Doctor Name: <input type="text" name="doctor_name"><br>
        Appointment Date: <input type="date" name="appointment_date"><br>
        Appointment Time: <input type="time" name="appointment_time"><br>
        <input type="submit" value="Book Appointment">
    </form>
    <br>
    <p><b style="color:red;"> Pleace Note :  Sunday is a holiday and doctors are only available during evening  hours Also ,make sure <br>to enter the right id and doctors name to avoid errors</b></p>
</body>
</html>