<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>out patient appointment system</title>
</head>
<body>
    <h2><i><b>Out Patient Appointment System</b></i></h2>
    <ul>
        <li><h4>Click the link provided below to view the list of doctors or type "/doctors" no the main link</h4></li>
        <a href="/doctors"><b>Doctors List </b></a>
        <li><h4>Doctor details</h4></li>
        <p><b>If you wish to view a doctor's profile type their name example ("/Dr.Anu") or id ("/1") on the main link</b></p>
        <li><h4>Click the link provided below to book the appointment or type "/book-appointment" no the main link</h4></li>
        <a href="/book-appointment"><b>Booking</b></a>

        

    </ul>
</body>
</html>